---
interface Props {
  id: number;
  title: string;
  desc: string;
  status: string;
}

const {title, desc} = Astro.props;
---

<div class="card">
  <div class="card-header">
    <h3 class="card-title">{title}</h3>
    <img src="./ellipsis.png" alt="ellipsis">
  </div>
  <p class="card-desc">{desc}</p>
</div>

<style>
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    padding:10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
  }

  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-header img{
    width:15px;
    height:15px;
  }

  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333; /* ダークな色合いで見やすく */
    font-weight: bold;
  }

  .card-desc {
    font-size: 1rem;
    color: #666; /* 軽いグレーでサブテキストに */
    line-height: 1.6;
  }

  /* レスポンシブ調整 */
  @media (max-width: 768px) {
    .card {
      padding: 15px;
    }

    .card-title {
      font-size: 1.3rem;
    }

    .card-desc {
      font-size: 0.9rem;
    }
  }
</style>
